@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: #ffffff;
  /* background: #171717;obo */
  background: #0f0f0f;
  /* font-family: Arial, Helvetica, sans-serif; */
  overflow-x: hidden;
}

footer{
  position: absolute;
  bottom: 0;
  color: gray;
  font-size: 12px;
  margin: 0;
  padding: 0;
  /* color: #ffffff;
  background-color: #171717;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='grad' x1='0%25' y1='0%25' x2='100%25' y2='100%25'%3E%3Cstop offset='0%25' style='stop-color:%23FFD700;stop-opacity:1' /%3E%3Cstop offset='100%25' style='stop-color:%23FFA500;stop-opacity:1' /%3E%3C/linearGradient%3E%3C/defs%3E%3Crect width='1600' height='900' fill='url(%23grad)'/%3E%3Cpath d='M0,900 Q800,750 1600,900 L1600,0 L0,0 Z' fill='%23171717'/%3E%3C/svg%3E");
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Webkit-based browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 6px;  /* Adjust the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: rgba(128, 128, 128, 0.2);  /* Light grey, transparent background */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.6);  /* Grey color for the scrollbar thumb */
  border-radius: 10px;  /* Rounded scrollbar edges */
}

/* Firefox */
* {
  scrollbar-width: thin;  /* Makes the scrollbar thin */
  scrollbar-color: rgba(128, 128, 128, 0.6) rgba(128, 128, 128, 0.2); /* Thumb color and track color */
}

.black-white-gradient {
  background: #DEA03C; /* Warm orange */
  background: linear-gradient(-90deg, #DEA03C 0%, #000000 100%);
  background: -webkit-linear-gradient(-90deg, #DEA03C 0%, #000000 100%);
}